body {
    background-image: url("https://c1.wallpaperflare.com/preview/93/533/221/train-passenger-train-sbb-db.jpg");
    /* background-image: url("https://wallpapercave.com/wp/wp4491116.jpg"); */

    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size:cover;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.passenger-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    backdrop-filter: blur(10px);
    position: relative;
    width: 50%;
    top: 25%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background: transparent;
    color: #000;
    margin-bottom: 100px;
    left: 2%;
    text-align: center;
    border-radius: 5px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    margin: 5px;
    border-radius: 5px;
}

/* added hover effect */

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-in;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

.total {
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
}

.footer{
    display: flex;
    width: 100%;
    height: 150px;
    margin-top:530%;
    position:  relative;
    justify-content: space-around;
    background-color: white;
    border-top:rgb(215 220 218);
    border-top-style: solid;
    border-width: 0.01px;
  }
  .footname{
    padding-top: 2px;
    color: black;
  }
  .footside2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top:-10px;
  }
  .footside p{
   font-size: 5em;
   color: white;
   position: relative;
   padding-top: 300;
  }
  .social{
    position: relative;
    display: flex;
    padding-left: 0px;
    padding-top: 0px;
  }
  .social_icon{
    position: relative;
    background-color: rgb(215 220 218);
    margin-left: 10px;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-top:2px ;
    align-items: center;
  }
  .social_icon img{
  width: 15px;
  height: 15px;
  }
  .footer_text{
    font-size: 13px;
  }
  @media(max-width:672px){
      .footer{
        display: flex;
        width: 150%;
        height: 100px;
        justify-content: space-around;
        background-color: rgb(147, 40, 40);
      }
      .footside2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        margin-top: -40px;
        padding-top: 7px;
      }
  }
  