
body {
    /*background-image: url("https://c1.wallpaperflare.com/preview/93/533/221/train-passenger-train-sbb-db.jpg");*/
    /* background-image: url("https://wallpapercave.com/wp/wp4491116.jpg"); */
    background-image: url("images/background.png");
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size:cover;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.passenger-detail {
    display: flex;
    top:10vh;
    height: 80vh;
    flex-direction: row;
    backdrop-filter: blur(10px);
    width: 50%;
    margin: auto;
    padding: 10px;
    background: rgb(255, 255, 255, 0.4);
    position: relative;
    border-right: 25%;
    text-align: center;
    border-radius: 5px;
}


#count-operations{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    left:7.5%;
    top:10%;
    width:40%;
    

}

#passenger-data{
    position: absolute;
    display: felx;
    flex-direction: column;
    align-items: center;
    width: 40%;
    right:7.5%;
    top:10%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    margin: 5px;
    border-radius: 5px;
}

/* added hover effect */

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-in;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#reset-btn {
    background: rgb(58, 58, 79);
    width: 100px;
}

.total {
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 1280px) {
    body{
        background-image: url(images/background_13.png);
    }
}

@media only screen and (max-width: 790px) {
    .passenger-detail{
        width: 80%;
    }
}